.portfolio {
    text-align: center;
}
.project {
    margin-bottom: 50px;
}

@media only screen and (min-width: 576px) {
}

@media only screen and (min-width: 768px) {
    .project {
        margin: 0 50px 50px 50px;
        max-width: 650px;
    }
}