.welcome-appear {
    opacity: 0.01;
}
  
.welcome-appear.welcome-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}
.p1-appear {
    opacity: 0.01;
}
  
.p1-appear.p1-appear-active {
    opacity: 1;
    transition: opacity 1.5s ease-in;
}
.p2-appear {
    opacity: 0.01;
}
  
.p2-appear.p2-appear-active {
    opacity: 1;
    transition: opacity 2s ease-in;
}


@media only screen and (min-width: 576px) {
    .welcomeText {
        margin-top: 120px;
    }
}