.about {
    text-align: left;
    margin: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content {
    margin-left: 0;
    text-align: center;
    min-width: 280px;
    padding-top: 20px;
}

.profileImage {
    width: 175px;
    border-radius: 50%;
    margin: 20px 0 20px 0;
}

.sidebar {
    background-color: #eff1f3;    
}

@media only screen and (min-width: 576px) {
    .about {
        max-width: 220px;
        margin: 0;
    }
    .content { 
        max-width: 280px;
        text-align: left;
        padding-left: 20px; 
    }
    .sidebar {
        position: fixed;
        left: 0;
        max-width: 280px;
        padding-bottom: 200px;
    }
    .profile-image {
        margin: 0 20px 20px 20px;
    }
}